APP_ENV=development

NEXT_PUBLIC_APP_NAME="NEXT APP"
NEXT_PUBLIC_HOST_URL=http://localhost:3000

DB_DATABASE="verceldb"
# 本番DBでは書き換える
DB_HOST="localhost:5432"
# 本番DBでは書き換える
DB_HOST_NON_POOLING="ローカルではDB_HOSTと同じ"
# 本番DBでは書き換える
DB_PASSWORD="password"
DB_USER="default"
DB_PRISMA_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_DATABASE}?pgbouncer=true&connect_timeout=15&sslmode=require
# ローカルDBの場合
# これを実行して
# npx prisma-accelerate-local 'postgres://<上のURL>?pgbouncer=true&connect_timeout=15&schema=public&connection_limit=1' -p 8000
# このURLを使う
# DB_PRISMA_URL=prisma://localhost:8000/?api_key=xxx
DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_DATABASE}?sslmode=require
DB_URL_NON_POOLING=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST_NON_POOLING}/${DB_DATABASE}?sslmode=require
# ローカルDBの場合
# DB_URL_NON_POOLING=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST_NON_POOLING}/${DB_DATABASE}?schema=public
DB_URL_NO_SSL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_DATABASE}

NODE_TLS_REJECT_UNAUTHORIZED=0
NODE_NO_WARNINGS=1
